// Do we need to serve a font? Add the @font-face styles here.

@font-face
  font-family: 'Akzidenz Grotesk Next'
  font-style: normal
  font-weight: 700
  font-display: swap
  src: local('Akzidenz Grotesk Next Bold'), url(../fonts/Akzidenz-Grotesk-Next-Bold.woff2) format('woff2'), url(../fonts/Akzidenz-Grotesk-Next-Bold.woff) format('woff'), url(../fonts/Akzidenz-Grotesk-Next-Bold.otf) format('opentype')
