// Set somme vendors variables

// 1 - ## Colors
// -------------
$color-primary:         #A85C18
$color-primary-dark:    darken($color-primary, 10)
$color-primary-light:   #707070
$color-secondary:       #fc5e5e
$color-text-primary:    #636363
$color-text-secondary:  rgba(#000, .54)
$color-link:            $color-primary
$color-body:            #fff
$color-info:            #144E93
$color-error:           #991717
$color-warning:         #D8CA21
$color-success:         #237F0D


    
// 2 - ## Font Family
// ------------------
$font-primary: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'
$font-secondary: 'Futura PT', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial', 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'


    
// 3 - ## Font Size
// ----------------
$font-size-base: 16px



// 4 - ## Line Height
// ------------------
$line-height-body: 1.75
$line-height-heading: 1.2



// 5 - ## Headings
// ----------------
$heading--font-family: $font-secondary

// 8:9 — major second
$heading--font-size-h6: 1rem
$heading--font-size-h5: 1.125rem
$heading--font-size-h4: 1.266rem
$heading--font-size-h3: 1.424rem
$heading--font-size-h2: 1.602rem
$heading--font-size-h1: 1.802rem

$heading--line-height-h6: $line-height-heading
$heading--line-height-h5: $line-height-heading
$heading--line-height-h4: $line-height-heading
$heading--line-height-h3: $line-height-heading
$heading--line-height-h2: 1.25
$heading--line-height-h1: $line-height-heading

$heading--font-weight: 700


// 4 - ## Spacing
// Vertical Rhythm Multiplier
$baseline-unit: 1rem

$spacing-vertical: 3 * $baseline-unit
$spacing-horizontal: 2.5 * $baseline-unit



// Default screens for media queries
$screen-small: 600px !default
$screen-medium: 992px !default
$screen-large: 1200px !default
$screen-small-up: 601px !default
$screen-medium-up: 993px !default
$screen-large-up: 1201px !default
