:not(pre) > code
  padding: .1em .4em
  // background: darken($color-primary-light, 5%)
  // color: darken($color-primary, 25%)
  border-radius: 3px

@debug brightness($color-primary)

pre
  @extend %overflow-container !optional
  padding-left: 0
  padding-right: luminance($color-primary)
  overflow: auto
  background: hsb(hue($color-primary), saturation($color-primary) * 0.0202020202%, brightness($color-primary) * 1.6667%, .9) !important // $color-primary-light !important
  @include media-breakpoint-up("sm")
    border-radius: 3px

  code
    min-width: 100%
