:not(pre) > code
  padding: .1em .4em
  background: $color-primary-light
  color: darken($color-primary, 40%)
  border-radius: 3px

pre
  @extend %overflow-container !optional
  padding-left: 0
  padding-right: 0
  overflow: auto
  background: $gray-100 !important
  // background: hsb((hue($color-primary) * 0.991), (saturation($color-primary) * 0.024), (brightness($color-primary) * 1.16)) !important
  @include media-breakpoint-up("sm")
    border-radius: 3px

  code
    min-width: 100%
