.posts
  .post
    padding-top: 1rem

    &-date,
    &-title,
    &-description,
    &-description p
      margin: 0

    &-title
      font-size: 1.1rem

    &-date
      font-family: $font-monospace
      font-size: .7rem
      text-transform: uppercase
      // letter-spacing: .1em

    &-date,
    &-description
      color: $color-text-secondary

    a
      @extend .text-decoration-none
      color: currentColor
