@use "sass:math"

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $bpoints: $breakpoints)
  $max: map-get($bpoints, $name) + 1
  @media (min-width: $max)
    @content

@mixin vertical-margin($font-size, $line-height)
  $baseline: 1
  line-height: $line-height
  // margin-top: round(math.div(5 * $line-height, $font-size)) * 1rem
  // margin-top: #{$font-size + $baseline}rem
  margin-top: #{(2 * $baseline) + $font-size - $line-height}rem
