%container-base
  width: 100%
  margin: 0 auto
  padding-left: calc(max(5vw, env(safe-area-inset-left)))
  padding-right: calc(max(5vw, env(safe-area-inset-right)))

.container
  @extend %container-base
  @include media-breakpoint-up("sm")
    padding-left: 10vw
    padding-right: 10vw
    @include media-breakpoint-up("md")
      padding-left: 15vw
      padding-right: 15vw
    @include media-breakpoint-up("lg")
      padding-left: 20vw
      padding-right: 20vw
    @include media-breakpoint-up("xl")
      padding-left: 25vw
      padding-right: 25vw
    @include media-breakpoint-up("xxl")
      padding-left: 33.5vw
      padding-right: 33.5vw


.container-fluid
  @extend %container-base
  @include media-breakpoint-up("sm")
    padding-left: 4vw
    padding-right: 4vw
