.container
    margin: 0 auto
    width: 90vw
    @include media-breakpoint-up("sm")
        width: 80vw
    @include media-breakpoint-up("md")
        width: 70vw
    @include media-breakpoint-up("lg")
        width: 33rem
