.footer
  margin-top: 6rem
  margin-left: calc(50% - 50vw)
  margin-right: calc(50% - 50vw)
  // background: #343434
  // color: white
  font-size: .75rem
  &__inner
    @extend .container
    padding: 3rem 0
    text-align: center
  a
    @extend .text-decoration-none
