.main
  // @extend .container
  padding-top: 10rem

.intro-section
  .title__name
    font-size: 5rem
    font-weight: bold
    line-height: 1

.quote-section
  font-size: 2rem
  line-height: 1.5

.quote-text
  @extend .m-0
  @extend .p-0
  background: none
  border: none
  line-height: 1.2

  &::before,
  &::after
    font-size: 3em
    line-height: 1

  &::before
    content: '❝'
    background: url(/assets/quote.svg)

  // &::after
  //   content: '❞'
  //   float: right

.quote-author
  margin-top: 1rem
  clear: both
  font-size: .6em
  cite
    font-style: normal
