.nav
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  padding-top: 2.5714285714rem
  padding-bottom: 2.5714285714rem
  transition: .4s
  font-size: .8rem
  &.dark
    padding-top: .618rem
    padding-bottom: .618rem
    background: rgba($gray-900, .92)
    color: $gray-200
    border-bottom: 1px solid #f6f6f6
  &.pull-up
    transform: translate3d(0,-100%,0)
  a
    color: currentColor !important

.nav-content
  @extend .container-fluid
  @extend .display-flex
  @extend .justify-content-between
  @extend .align-items-center

.nav-logo
  @extend .display-flex
  svg
    height: 1.75em

.menu
  @extend .m-0
  @extend .display-flex

  &-link
    @extend .text-decoration-none
    @extend .display-block
    letter-spacing: .032em
    &:not(:first-of-type)
      padding-left: 1.5rem
