$nav-padding-top: 1.618rem
$nav-padding-left: 7.141354vw

.nav
  @extend .position-fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  transition: .4s
  font-size: .75rem
  &.is-disabled
    opacity: 0
    pointer-events: none
  a
    color: currentColor !important

.nav-logo,
.burger,
.menu
  @extend .position-absolute
  top: $nav-padding-top
  left: $nav-padding-top

.nav-logo
  @extend .display-flex
  left: 50%
  transform: translateX(-50%)
  svg
    height: 1.75em

.menu
  @extend .m-0
  @extend .display-flex
  flex-direction: column
  top: 13rem

  &-link
    @extend .text-decoration-none
    display: inline-block
    letter-spacing: .032em

.burger
  width: 25px
  cursor: pointer
  .line
    display: block
    height: 2px
    margin: 2px 0
    background: $black
