$nav-padding-top: 1.618rem
$nav-padding-left: 7.141354vw
$burger-width: 1.78rem // 40px
$burger-stroke-width: 2px

.nav
  @extend .position-fixed
  top: 0
  left: 0
  right: 0
  z-index: 2
  transition: $transition-duration
  font-size: .75rem
  &.is-disabled
    opacity: 0
    pointer-events: none
  a
    color: currentColor !important

.nav-logo,
.burger,
.menu
  @extend .position-absolute
  top: $nav-padding-top
  left: $nav-padding-top

.nav-logo
  @extend .display-flex
  left: 50%
  transform: translateX(-50%)
  svg
    height: 1.75em

.menu
  @extend .m-0
  @extend .display-none
  flex-direction: column
  top: 13rem
  &.is-active
    @extend .display-flex

  &-link
    @extend .text-decoration-none
    display: inline-block
    letter-spacing: .032em

.burger
  width: $burger-width
  cursor: pointer
  outline: none
  .line
    display: block
    height: $burger-stroke-width
    margin: $burger-stroke-width 0
    background: $black
    transition: all $transition-duration ease-in-out
    &:nth-child(3)
      transform: translate3d(-25%,0,0) scale3d(.5,1,1)
  &:hover
    .line:nth-child(3)
      transform: scale3d(1,1,1)
  &.is-open
    .line
      &:first-child
        transform: translate3d(0,200%,0) rotate(45deg)
      &:nth-child(2)
        opacity: 0
      &:nth-child(3)
        transform: scale3d(1,1,1) translate3d(0,-200%,0) rotate(-45deg)
